<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true" disable-url-rewriting="false"
		use-expressions="true">
		<headers disabled="true" />
		<intercept-url pattern="/login/**" access="permitAll" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/servicer/**" access="permitAll" />
		<intercept-url pattern="/visitor/**" access="permitAll"/>
		<form-login 
			default-target-url="/login/loginPass" 
			login-processing-url="/j_spring_security_check"
			username-parameter="j_username" 
			password-parameter="j_password"
			always-use-default-target="true" 
			authentication-failure-url="/login/loginFailed" />
		<logout logout-url="/login/logout" 
				invalidate-session="true"
				logout-success-url="/login/loginPage" />
		<csrf />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="
					select userName, password, enabled 
					from User where userName=?"
				authorities-by-username-query="
					select u.userName, r.roleName from User u, Role r 
					where r.roleId=u.roleId and  u.userName=?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>
